<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.trinkettrader" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inventory.InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:parentActivityName=".HomePageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.HomePageActivity" />
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.LoginActivity" />
        </activity>
        <activity
            android:name=".Inventory.Trinket.AddOrEditTrinketActivity"
            android:label="@string/title_activity_add_or_edit_trinket"
            android:parentActivityName=".Inventory.InventoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inventory.InventoryActivity" />
        </activity>
        <activity
            android:name=".Friends.FriendsListActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName=".HomePageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.HomePageActivity" />
        </activity>
        <activity
            android:name=".User.Profile.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".HomePageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.HomePageActivity" />
        </activity>
        <activity
            android:name=".User.Profile.EditUserProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".User.Profile.UserProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User.Profile.UserProfileActivity" />
        </activity>
        <activity
            android:name=".Inventory.Trinket.TrinketDetailsActivity"
            android:label="@string/title_activity_trinket_details"
            android:parentActivityName=".Inventory.InventoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inventory.InventoryActivity" />
        </activity>
        <activity
            android:name=".Trades.TradesActivity"
            android:label="@string/title_activity_trades"
            android:parentActivityName=".HomePageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.HomePageActivity" />
        </activity>
        <activity
            android:name=".Trades.PastTradesActivity"
            android:label="@string/title_activity_past_trades"
            android:parentActivityName=".Trades.TradesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Trades.TradesActivity" />
        </activity>
        <activity
            android:name=".Friends.TrackedFriends.TrackedFriendsListActivity"
            android:label="@string/title_activity_tracked_friends"
            android:parentActivityName=".Friends.FriendsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Friends.FriendsListActivity" />
        </activity>
        <activity
            android:name=".Friends.FriendsProfileActivity"
            android:label="@string/title_activity_friends_profile"
            android:parentActivityName=".Friends.FriendsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Friends.FriendsListActivity" />
        </activity>
        <activity
            android:name=".Inventory.InventoryDetailsActivity"
            android:label="@string/title_activity_inventory_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inventory.InventoryActivity" />
        </activity>
        <activity
            android:name=".Trades.TradeDetailsActivity"
            android:label="@string/title_activity_trade_details" >
        </activity>
    </application>

</manifest>
