<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ca.ualberta.trinkettrader"
    xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.HomePageActivity" />
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.LoginActivity" />
        </activity>
        <activity
            android:name=".AddOrEditTrinketActivity"
            android:label="@string/title_activity_add_or_edit_trinket"
            android:parentActivityName=".InventoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.InventoryActivity" />
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.HomePageActivity" />
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.HomePageActivity" />
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".UserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.UserProfileActivity" />
        </activity>
        <activity
            android:name=".TrinketDetailsActivity"
            android:label="@string/title_activity_trinket_details"
            android:parentActivityName=".InventoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.InventoryActivity" />
        </activity>
        <activity
            android:name=".TradesActivity"
            android:label="@string/title_activity_trades"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.HomePageActivity" />
        </activity>
        <activity
            android:name=".PastTradesActivity"
            android:label="@string/title_activity_past_trades"
            android:parentActivityName=".TradesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.TradesActivity" />
        </activity>
        <activity
            android:name=".TrackedFriendsActivity"
            android:label="@string/title_activity_tracked_friends"
            android:parentActivityName=".FriendsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.FriendsActivity" />
        </activity>
        <activity
            android:name=".FriendsProfileActivity"
            android:label="@string/title_activity_friends_profile"
            android:parentActivityName=".FriendsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.FriendsActivity" />
        </activity>
        <activity
            android:name=".InventoryDetailsActivity"
            android:label="@string/title_activity_inventory_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.trinkettrader.InventoryActivity" />
        </activity>
    </application>
</manifest>
